<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANOZijseaUJhAuMzxir3zmfGP0yx3XeZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1005856368235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.najmSuhail</string>
	<key>PROJECT_ID</key>
	<string>najm-suhail-project</string>
	<key>STORAGE_BUCKET</key>
	<string>najm-suhail-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005856368235:ios:4ff960ecfa0796dcdd332e</string>
</dict>
</plist>